.header {
    /* position: fixed; */
    top: 0;
    /* overflow: hidden; */
    padding: 10px;   
    display: flex;
    width: 100%;   
    /* align-items: center; */
    background-color: purple;
    /* color: white; */

}

.links{
    padding-top: 12px;
    padding-left: 10px ;
    color: white;
    justify-content: flex-end;
    font-size: large;
}

/* .header_logo{
    object-fit: contain;
    padding-top: 5px;
    margin-right: 20px;
} */

/* .logo_name {
    padding-top: 5px;
} */

.blog{
   
    
}

.about{
    padding-top: 12px;
    padding-left: 30px ;
    justify-content: flex-end;
    
}

.contact{
    padding-top: 12px;
    padding-left: 20px ;
    color: white;
    background-repeat: white;   
    /* justify-content: flex-end; */
    font-size: large;

    
}